*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
}
html, body{
    height: 100vh;
    width: 100%;
    background-color:darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: #fff;
    height: 230px;
    width: 400px;
    border-radius: 8px;
    padding: 18px;
    transition: height 0.1s ease;
}
.wrapper.active{
    height: 460px;
}
.wrapper h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 1rem;
}
.wrapper p{
    color: #474747;
    font-size: 16px;
}
.action :where(input, button){
    width: 100%;
    margin: 5px 0px;
    border: none;
    outline: none;
    padding: 18px;
    border-radius: 8px;
}
.action button{
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.action button:active{
    transform: scale(0.95);
}

.action input{
    border: 1px solid #dadada;
}
.qr-code{
    height: 200px;
    width: 100%;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin: 1rem 0;
    transition: opacity 0.2s ease-in-out;
}
.wrapper.active .qr-code{
    opacity: 1;
}